{# django #}
<div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
    <div class="sm:col-span-3">
        <h2 class="text-2xl font-semibold mb-2">{{ problem_set.name }}</h2>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-2">
          {% for problem in problems %}
          <div class="rounded-md border overflow-hidden">
            {% include "problems/_item.html" %}
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="">
        <h2 class="text-lg font-bold">Termíny</h2>

        <p>Koniec kola: {{ problem_set.end_date_time }} <span
                class="text-red-600">({{ problem_set.end_date_time|timeuntil }})</span></p>
    </div>
</div>
