{# django #}

{% include "sets/_header.html" with problem_set=problem_set %}

<div class="flex w-full mb-4 gap-2 flex-wrap">
  <a class="btn btn-primary" href="{% url "problem_set_results" problem_set.slug %}">Výsledky</a>

  {% if "PS" in visible_pdfs and problem_set.statement_pdf %}
    <a class="btn btn-default" href="{% url "problem_set_statement_pdf" problem_set.slug %}">Zadania (PDF)</a>
  {% endif %}
  {% if "ES" in visible_pdfs and problem_set.solution_pdf %}
    <a class="btn btn-default" href="{% url "problem_set_solution_pdf" problem_set.slug %}">Vzoráky (PDF)</a>
  {% endif %}
</div>

<div>
  <div class="border divide-y rounded-md overflow-hidden">
    <div class="flex justify-between text-sm text-muted bg-gray-100 font-semibold py-3 px-4">
      <div>Úloha</div>
      {% if user.is_authenticated %}
        <div>Tvoje body</div>
      {% endif %}
    </div>
    {% for problem in problems %}
      {% include "problems/_item.html" %}
    {% endfor %}
  </div>
</div>
