{% extends "base.html" %}
{% load ui %}

{% block title %}
    {{ object }} {{ block.super }}
{% endblock %}

{% block after_menu %}
<div class="border-b px-4 py-3">
  {% url "problem_set_list" as set_list_url %}
  {% url "problem_set_detail" object.slug as set_url %}
  {% breadcrumbs "Zadania" set_list_url object set_url %}
</div>
{% endblock %}

{% block body %}
  {% include "sets/_header.html" with problem_set=object %}

  <div class="flex w-full mb-4">
    <a class="btn btn-primary" href="{% url "problem_set_results" object.slug %}">Výsledky</a>
  </div>

  {% include "sets/_problem_list.html" with problem_set=object %}
{% endblock %}
