{% extends "base.html" %}
{% load tables %}
{% load ui %}

{% block title %}
    Novinky {{ block.super }}
{% endblock %}

{% block after_menu %}
<div class="border-b px-4 py-3">
  {% breadcrumbs "Novinky" post_list_url %}
</div>
{% endblock %}

{% block body %}
    <div class="max-w-prose mx-auto">
        <h1 class="text-4xl font-bold mb-8">Novinky</h1>

        <div class="space-y-8 mb-8">
        {% for post in object_list %}
            {% include "post/_detail.html" with post=post link=True %}
        {% endfor %}
        </div>

        {% paginator page_obj %}
    </div>
{% endblock %}
