{% extends "base.html" %}
{% load tables %}
{% load ui %}

{% block title %}
    Novinky {{ block.super }}
{% endblock %}

{% block after_menu %}
    {% breadcrumbs "Novinky" post_list_url %}
{% endblock %}

{% block body %}
    <div class="max-w-prose mx-auto">
        {% include "org/generic/_title.html" with title="Novinky" %}

        <div class="space-y-8 mb-8">
        {% for post in object_list %}
            {% include "post/_detail.html" with post=post link=True %}
        {% endfor %}
        </div>

        {% paginator page_obj %}
    </div>
{% endblock %}
