{% extends "base.html" %}
{% load ui %}
{% load markdownify %}

{% block title %}
  Riešenie {{ block.super }}
{% endblock %}

{% block after_menu %}
  {% url "problem_set_list" as set_list_url %}
  {% url "problem_set_detail" submit.problem.problem_set.slug as set_url %}
  {% url "problem_detail" submit.problem.problem_set.slug submit.problem.number as problem_url %}
  {% breadcrumbs "Zadania" set_list_url submit.problem.problem_set set_url submit.problem problem_url "Odovzdané riešenie" %}
{% endblock %}

{% block root_body_class %}
  {{ block.super }} flex flex-col min-h-screen
{% endblock root_body_class %}
{% block body_container_class %}
  {{ block.super }} flex flex-col
{% endblock %}

{% block body_container %}
<div class="flex-1 flex flex-col md:flex-row w-full max-h-screen">
  <div class="flex-1 flex flex-col">
    <div class="md:h-full h-80 flex-1 flex">
    {% include "submits/content/render.html" %}
    </div>
  </div>

  <div class="shrink-0 md:w-80 border-b md:border-b-0 border-l px-4 py-3">
    <div class="mb-2 font-bold text-lg">
      Hodnotenie
    </div>

    {% if points_visible %}
      <div class="px-4 py-3 flex space-x-3">
        <div class="shrink-0">
          {% if submit.scored_by %}
            <a href="{{ submit.scored_by.profile_url }}">
              <img class="inline-block size-10 rounded-full" src="{{ submit.scored_by.avatar_url }}" alt="{{ submit.scored_by.get_full_name }}">
            </a>
          {% else %}
            <span>
              <div class="inline-block size-10 rounded-full bg-gray-300 p-2">
                <iconify-icon icon="mdi:user" width="none" class="size-6"></iconify-icon>
              </div>
            </span>
          {% endif %}
        </div>
        <div class="flex-1 text-sm">
          <div class="font-semibold">{{ submit.scored_by.display_name|default:"Server" }}:</div>
          <div class="font-semibold text-base text-green-600">{{ submit.score|floatformat:"g" }} b</div>

        </div>
      </div>
      {% if submit.comment %}
        <div class="prose max-w-none prose-sm bg-gray-200 rounded-lg p-2">
          <h3>Komentár</h3>
          {{ submit.comment|markdownify }}
        </div>
      {% endif %}
    {% else %}
      <div class="px-4 py-3 text-muted text-center text-sm">
        <iconify-icon icon="mdi:emoticon-sad-outline" width="none" class="size-8"></iconify-icon>
        <p>Toto riešenie zatiaľ nebolo ohodnotené.</p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
