{# Grading form #}
<form class="gap-y-4 text-sm flex-1 flex flex-col" enctype="multipart/form-data" method="post" action="{% url 'org:grading_submit' submit.submit_id %}" hx-boost="true">
  <textarea name="comment" class="input flex-1 {% if form.comment.errors %}border-red-600 placeholder-red-600{% endif %}" rows=7 placeholder="Komentár">{{ form.comment.value }}</textarea>

  {% if type == 'file' %}
    <div class="flex items-cemter justify-between gap-4">
      <label>
        Okomentovaný súbor
        <input type="file" name="comment_file" class="input flex-1 {% if form.comment_file.errors %}border-red-600 placeholder-red-600{% endif %}" accept="application/pdf">
      </label>
    </div>
  {% endif %}

  <div class="flex items-cemter justify-between gap-4">
    <div>
      <input type="number" name="score" value="{{ form.score.value|default_if_none:''|stringformat:'s' }}" class="input max-w-24 grow-0 {% if form.score.errors %}border-red-600 placeholder-red-600{% endif %}" step="0.5">
      <span class="font-bold ml-2 text-base {% if form.score.errors %}text-red-600{% endif %}">b</span>
    </div>
    <button type="submit" class="btn btn-blue">Uložiť</button>
  </div>
</form>
