{% extends "org/base.html" %}

{% block title %}
{{ problem }} - hodnotenie {{ block.super }}
{% endblock title %}

{% block body %}
  {% include "org/generic/_title.html" with title=problem subtitle="Prehľad hodnotení" %}

  <p class="my-8 space-x-2">
    <a class="btn btn-primary" href="{% url "org:grading_download" problem.id %}">Stiahnuť ZIP na opravovanie</a>
    <a class="btn btn-primary" href="{% url "org:grading_upload" problem.id %}">Nahrať opravený ZIP</a>
  </p>

  <div class="overflow-x-auto mb-4">
    <table class="simple-table">
      <thead>
        <tr>
          <th>Používateľ</th>
          {% if "judge" in problem.accepted_submit_types %}
          <th class="w-32">Program</th>
          {% endif %}
          {% if "text" in problem.accepted_submit_types %}
          <th class="w-32">Text</th>
          {% endif %}
          {% if "file" in problem.accepted_submit_types %}
          <th class="w-32">Popis</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for row in users %}
        <tr id="user-{{ row.user.id }}">
          <td>{{ row.user.display_name }}</td>
          {% if "judge" in problem.accepted_submit_types %}
          <td class="relative tabular-nums {% if row.judge %}hover:bg-gray-50{% endif %} group">
            {% include "org/grading/_overview_score.html" with submit=row.judge %}
          </td>
          {% endif %}
          {% if "text" in problem.accepted_submit_types %}
          <td class="relative tabular-nums {% if row.text %}hover:bg-gray-50{% endif %} group">
            {% include "org/grading/_overview_score.html" with submit=row.text %}
          </td>
          {% endif %}
          {% if "file" in problem.accepted_submit_types %}
          <td class="relative tabular-nums {% if row.file %}hover:bg-gray-50{% endif %} group">
            {% include "org/grading/_overview_score.html" with submit=row.file %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}
