<li>
  <a href="https://prask.ksp.sk" class="hover:text-gray-900">Súťaž PRASK</a>
  <p class="text-xs text-gray-500">Programátorská súťaž pre základoškolákov</p>
</li>
<li>
  <a href="https://school.ksp.sk" class="hover:text-gray-900">KSP School</a>
  <p class="text-xs text-gray-500">Materiály a úlohy na výučbu programovania</p>
</li>
<li>
  <a href="https://trojsten.sk/letna-skola/" class="hover:text-gray-900">Letná škola programovania</a>
  <p class="text-xs text-gray-500">Intenzívny programátorský zážitok v lete</p>
</li>
