<li>
  <a href="https://trojsten.sk/letna-skola/" class="hover:text-gray-900">Letná škola matematiky</a>
  <p class="text-xs text-gray-500">Intenzívny matematický zážitok v lete</p>
</li>
<li>
  <a href="https://math.naboj.org/sk/sk/" class="hover:text-gray-900">Matematický Náboj</a>
  <p class="text-xs text-gray-500">Tímová matematická súťaž pre stredoškolákov</p>
</li>
<li>
  <a href="https://materialy.kms.sk" class="hover:text-gray-900">Materiálovňa</a>
  <p class="text-xs text-gray-500">Knižnica všemožných matematických múdrostí</p>
</li>
