{% load static %}

<div class="text-muted p-10 grid grid-cols-1 sm:grid-cols-4 text-sm gap-8 border-t bg-gray-50">
  <div class="sm:col-span-2">
    <img src="{% static "contests/trojsten/logo-black.svg" %}" alt="Trojsten" class="h-10 mb-4">
    <p>
       {{ contest.name }} zastrešuje občianske združenie <a href="https://trojsten.sk" class="underline text-gray-700 hover:text-gray-900">Trojsten</a>.
    </p>
  </div>
  <div>
    <div class="font-bold text-gray-700 mb-3">Kontakt</div>

    <ul class="space-y-2">
      <li>
        <a href="mailto:{{ contest.contact_email }}" class="hover:text-gray-900">{{ contest.contact_email }}</a>
      </li>
      <li>
        <p>Trojsten, o.z.<br>
          FMFI UK, Mlynská dolina<br>
          842 48 Bratislava</p>
      </li>
    </ul>
  </div>
  <div>
    <div class="font-bold text-gray-700 mb-3">Ďalšie projekty</div>

    <ul class="space-y-2">
      {% if not activities_template %}
      <li>
        <a href="https://ksp.sk" class="hover:text-gray-900">Korešpondenčný seminár z programovania</a>
        <p class="text-xs text-gray-500">Programátorská súťaž pre stredoškolákov</p>
      </li>
      <li>
        <a href="https://kms.sk" class="hover:text-gray-900">Matematický korešpondenčný seminár</a>
        <p class="text-xs text-gray-500">Matematická súťaž pre stredoškolákov</p>
      </li>
      <li>
        <a href="https://fks.sk" class="hover:text-gray-900">Fyzikálny korešpondenčný seminár</a>
        <p class="text-xs text-gray-500">Fyzikálna súťaž pre stredoškolákov</p>
      </li>
      {% else %}
        {% include activities_template %}
      {% endif %}
      <li>
        <a href="https://trojsten.sk/aktivity/" class="hover:text-gray-900">Všetky naše aktivity <iconify-icon icon="mdi:arrow-right" inline></iconify-icon></a>
      </li>
    </ul>
  </div>
</div>
