<li>
  <a href="https://fx.fks.sk" class="hover:text-gray-900">FX</a>
  <p class="text-xs text-gray-500">Kategória pre makačov</p>
</li>
<li>
  <a href="https://physics.naboj.org/sk/sk/" class="hover:text-gray-900">Fyzikálny Náboj</a>
  <p class="text-xs text-gray-500">Tímová fyzikálna súťaž pre stredoškolákov</p>
</li>
<li>
  <a href="https://trojsten.sk/letna-skola/" class="hover:text-gray-900">Letná škola fyziky</a>
  <p class="text-xs text-gray-500">Intenzívny fyzikálny zážitok v lete</p>
</li>
