<li>
  <a href="https://ksp.sk" class="hover:text-gray-900">Korešpondenčný seminár z programovania</a>
  <p class="text-xs text-gray-500">Programátorská súťaž pre stredoškolákov</p>
</li>
<li>
  <a href="https://junior.naboj.org/sk/sk/" class="hover:text-gray-900">Náboj Junior</a>
  <p class="text-xs text-gray-500">Tímová matematicko-fyzikálna súťaž pre základoškolákov</p>
</li>
<li>
  <a href="https://school.ksp.sk" class="hover:text-gray-900">KSP School</a>
  <p class="text-xs text-gray-500">Materiály a úlohy na výučbu programovania</p>
</li>
