<li>
  <a href="https://ksp.sk" class="hover:text-gray-900">Korešpondenčný seminár z programovania</a>
  <p class="text-xs text-gray-500">Programátorská súťaž pre stredoškolákov</p>
</li>
<li>
  <a href="https://kms.sk" class="hover:text-gray-900">Matematický korešpondenčný seminár</a>
  <p class="text-xs text-gray-500">Matematická súťaž pre stredoškolákov</p>
</li>
<li>
  <a href="https://fks.sk" class="hover:text-gray-900">Fyzikálny korešpondenčný seminár</a>
  <p class="text-xs text-gray-500">Fyzikálna súťaž pre stredoškolákov</p>
</li>
