{% extends "base.html" %}
{% load markdownify %}

{% block title %}
	Položky menu {{ block.super }}
{% endblock %}

{% block body %}
	<div class="max-w-prose mx-auto">
		<div class="flex flex-row items-center justify-between">
			<h1 class="text-4xl font-bold mb-8">Položky menu</h1>
			{% if user.is_staff %}
				<div class="mb-4">
					{#					<a href="{% url "menu_create" %}">#}
					{#						<iconify-icon icon="mdi:add" width="none" class="size-6"></iconify-icon>#}
					{#					</a>#}
				</div>
			{% endif %}
		</div>

		<div class="space-y-4">
			{% for menu_group in object_list %}
				<details class="rounded border border-gray-300 px-3 py-2">
					<summary>{{ menu_group.title }}
						<div class="float-end">
							{#							<a href="{% url "menu_edit" menu_group.id %}">#}
							{#								<iconify-icon icon="mdi:edit" width="none" class="size-6"></iconify-icon>#}
							{#							</a>#}
							<a href="{% url "menu_delete" menu_group.id %}?return={% url "menu_list" %}">
								<iconify-icon icon="mdi:delete" width="none" class="size-6"></iconify-icon>
							</a>
						</div>
					</summary>
					<div class="mt-2">
						{% with group_items=menu_group.menuitem_set.all %}
							{% include "navbar/_group_items.html" %}
						{% endwith %}
					</div>
				</details>
			{% endfor %}
		</div>
	</div>
{% endblock %}
