<!doctype html>
{% load static %}
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app.min.css' %}">
    <script src="{% static 'app.min.js' %}" defer></script>
    <title>Semináre</title>
</head>
<body>
    <header class="bg-blue-800">
        <div class="container mx-auto flex items-center justify-between p-4 text-white font-bold">
            <a href="{% url 'main' %}" class="flex items-center gap-2">
                <img src="https://raw.githubusercontent.com/trojsten/brand/refs/heads/master/kms/logo/white.svg" alt="">
                <span class="hidden sm:block">
                    Korešpondenčný Matematický Seminár
                </span>
            </a>

            <button class="p-4 -m-4 flex">
                <iconify-icon icon="mdi:menu" width="none" class="w-6 h-6"></iconify-icon>
            </button>
        </div>
    </header>
    <main class="container mx-auto px-4 py-4 sm:py-6">
        {% block body %}{% endblock %}
    </main>
</body>
</html>