<!doctype html>
{% load static %}
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app2.min.css' %}">
    <link rel="stylesheet" href="{% static 'app.min.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.min.css" integrity="sha384-Htz9HMhiwV8GuQ28Xr9pEs1B4qJiYu/nYLLwlDklR53QibDfmQzi7rYxXhMH/5/u" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.min.js" integrity="sha384-bxmi2jLGCvnsEqMuYLKE/KsVCxV3PqmKeK6Y6+lmNXBry6+luFkEOsmp5vD9I/7+" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false},
                  {left: '\\(', right: '\\)', display: false},
                  {left: '\\[', right: '\\]', display: true}
              ],
              throwOnError : false
            });
        });
    </script>

    <script src="{% static 'app.min.js' %}" defer></script>
    <title>{% block title %}| TODO{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body class="theme-math">
<header class="bg-primary">
    <nav class="p-4 text-white flex items-center">
        <a href="/" class="flex items-center font-bold gap-3 hover:underline">
            <img src="https://raw.githubusercontent.com/trojsten/brand/refs/heads/master/kms/logo/white.svg" alt="">
            <span class="hidden md:inline-block">
                    Korešpondenčný Matematický Seminár
                </span>
        </a>

        {#            <button class="p-4 -m-4 flex">#}
        {#                <iconify-icon icon="mdi:menu" width="none" class="w-6 h-6"></iconify-icon>#}
        {#            </button>#}
    </nav>
</header>

{% block root_body %}
    <main class="mx-auto max-w-6xl p-4">
        {% block body %}{% endblock %}
    </main>
{% endblock %}
</body>
</html>
