<!doctype html>
{% load static %}
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app.min.css' %}">

    <script src="{% static 'app.min.js' %}" defer></script>
    <title>{% block title %}| TODO{% endblock %}</title>
		{% block head %}
		{% endblock %}
</head>
<body class="theme-math">
    <header class="navbar">
        <div class="navbar__container">
            <a href="/" class="navbar__brand">
                <img src="https://raw.githubusercontent.com/trojsten/brand/refs/heads/master/kms/logo/white.svg" alt="">
                <span class="navbar__brand_name">
                    Korešpondenčný Matematický Seminár
                </span>
            </a>

{#            <button class="p-4 -m-4 flex">#}
{#                <iconify-icon icon="mdi:menu" width="none" class="w-6 h-6"></iconify-icon>#}
{#            </button>#}
        </div>
    </header>

    {% block root_body %}
    <main class="container">
        {% block body %}{% endblock %}
    </main>
    {% endblock %}
</body>
</html>
