{% extends "base.html" %}

{% block body %}
    <div class="bg-gray-100 p-12">
        <h1 class="font-bold text-3xl mb-4">
            Korešpondenčný Matematický Seminár
        </h1>
        <a href="{% url 'main' %}" class="btn btn-primary">Aktuálne zadania</a>
    </div>

    <div class="mt-6 prose">
        <p>Korešpondenčný matematický seminár je súťaž v riešení netradičných (zaujímavých) matematických úloh, určená pre stredoškolákov. Skladá sa z dvoch častí - zimnej (začína v septembri) a letnej (začína vo februári). Po každej časti pozývame najúspešnejších riešiteľov časti na sústredenie.</p>

        <h2>Prečo riešiť?</h2>

        <ul>

    <li>Zistíš, že matematika nie je len to, čo sa učí v škole, ale vie byť aj zábavná.</li>
    <li>KMS zlepší tvoje matematické myslenie.</li>
    <li>Ku riešeniam, ktoré pošleš, dostaneš komentár od opravovateľa (teda budeš vedieť, za čo ti boli strhnuté body) - ak by si bol nespokojný, môžeš nám napísať a my sa na to radi pozrieme (aj my sme len ľudia). Neboj sa, nehryzieme.</li>
    <li>Sústredenia fakt stoja za to.</li>

        </ul>
    </div>
{% endblock %}
