{% extends "base.html" %}

{% block body %}
    <div class="bg-gray-100 p-12">
        <h1 class="font-bold text-3xl mb-4">
            Korešpondenčný Matematický Seminár
        </h1>
        <a href="{% url 'main' %}" class="btn btn-primary">Aktuálne zadania</a>
    </div>

    <p class="mt-6">Korešpondenčný Matematický Seminár je ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aperiam architecto consequatur culpa delectus deleniti, deserunt dolorem dolores eveniet praesentium quo recusandae rerum sequi soluta suscipit unde velit voluptate expedita ipsam itaque iusto non nulla praesentium quo recusandae rerum sequi soluta suscipit unde velit voluptate. Architecto deserunt eaque est harum iure quibusdam quisquam ullam unde vero vitae! Deserunt, placeat.</p>
{% endblock %}
