{% extends "base.html" %}
{% load custom_tags %}
{% block body %}
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="hidden md:block">
            <p class="font-bold mb-4">{{ problem.problem_set.name }}</p>

            <div class="space-y-1">
                {% for prob in problems %}
                    <a href="{% url 'detail' prob.id%}"
                       class="py-2 px-3 block rounded hover:bg-gray-200 {% if prob == problem %} font-bold {% endif %}
                        {% if prob.category == 0 %} bg-gray-100 text-gray-500 {% elif submits|dict_key:prob.id != 0 %}
                         bg-green-100 text-green-600{% endif %}">{{ forloop.counter }}. {{ prob.name }}</a>

                {% endfor %}
            </div>
        </div>

        <div class="prose mx-auto md:col-span-2 text-justify">
            <h1>{{ problem.name }}t</h1>
            <p>{{ problem.content }}</p>
        </div>

        <div class="max-w-prose">
            <p class="font-bold mb-4">Odovzdávanie</p>
            <div class="border rounded-md text-center p-4 bg-gray-100 text-gray-700">
                <iconify-icon icon="mdi:upload" width="none" class="w-10 h-10"></iconify-icon>
                <p class="-mt-2">Vyber alebo presuň tvoje riešenie sem</p>
            </div>
            <p class="font-bold mb-4">Odovzdané riešenie</p>
            <div class="space-y-1">
            {% if problem_submits %}
                {% for submit in problem_submits %}
                    <a href="#" class="py-2 px-3 block rounded hover:bg-gray-200">{{ forloop.counter }}. {{ submit }}</a>
                {% endfor %}
            {% else %}
                <p>Smutny tunel :(</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}