{% extends "base.html" %}
{% load custom_tags %}
{% block body %}
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="hidden md:block">
            <p class="font-bold mb-4">{{ problem.problem_set.name }}</p>

            <div class="space-y-1">
                {% for prob in problems %}
                    <a href="{% url 'detail' prob.id%}"
                       class="py-2 px-3 block rounded hover:bg-gray-200 {% if prob == problem %} font-bold {% endif %}
                        {% if prob.category == 0 %} bg-gray-100 text-gray-500 {% elif submits|dict_key:prob.id != 0 %}
                         bg-green-100 text-green-600{% endif %}">{{ forloop.counter }}. {{ prob.name }}</a>

                {% endfor %}
            </div>
        </div>

        <div class="mx-auto max-w-prose w-full md:col-span-2">
            <a href="{% url 'main' %}" class="mb-2 inline-flex items-center text-blue-700 hover:text-blue-900 md:hidden">
                <iconify-icon icon="mdi:arrow-left" class="mr-2"></iconify-icon> Späť
            </a>

            {% if problem_submits %}
            <div class="border rounded-md border-green-300 p-4 bg-green-100 text-green-700 mb-4 flex items-center">
                <iconify-icon icon="mdi:check-bold" class="mr-2 shrink-0"></iconify-icon>
                Riešenie tejto úlohy si už nahral/a!
            </div>
            {% endif %}

            <div class="prose">
                <h1>{{ problem.name }}</h1>
                <p>{{ problem.content }}</p>
            </div>
        </div>

        <div class="max-w-prose" id="odovzdavanie">
            <p class="font-bold mb-4">Odovzdávanie</p>

            {% if problem.category == 0 %}
            <div class="border rounded-md border-orange-300 p-4 bg-orange-100 text-orange-700 mb-4 flex items-center">
                <iconify-icon icon="mdi:warning" class="mr-2 shrink-0"></iconify-icon>
                Za túto úlohu nedostávaš v svojej kategórií body.
            </div>
            {% endif %}

            <div class="border rounded-md text-center p-4 bg-gray-100 text-gray-700 cursor-pointer" onclick="document.getElementById('filepicker').click(); document.getElementById('form').classList.remove('hidden')">
                <iconify-icon icon="mdi:upload" width="none" class="w-10 h-10"></iconify-icon>
                <p class="-mt-2">Vyber alebo presuň tvoje riešenie sem</p>
            </div>

            <form action="{% url 'submit' problem.id %}" id="form" class="hidden">
                <div class="mt-2">
                    <span class="bg-gray-100 text-gray-700 border rounded-md px-2 py-1 text-sm inline-flex items-center">
                        Image.jpg

                        <iconify-icon class="ml-1" icon="mdi:close" onclick="document.getElementById('form').classList.add('hidden')"></iconify-icon>
                    </span>
                </div>

                <input type="file" accept="image/jpeg" class="hidden" id="filepicker">

                <button class="bg-green-600 text-white py-2 px-3 font-bold rounded-md mt-2">
                    Odovzdať
                </button>
            </form>

            <p class="font-bold mb-4 mt-6">Odovzdané riešenia</p>
            <div class="space-y-1">
            {% if problem_submits %}
                {% for submit in problem_submits %}
                    <a href="#" class="py-2 px-3 block rounded hover:bg-gray-200">{{ submit.created_at }} ({{ submit.score|floatformat:"1g" }} b)</a>
                {% endfor %}
            {% else %}
                <p>Zatiaľ si nič neodovzdal/a.</p>
            {% endif %}
            </div>
        </div>
    </div>
		<div class="fixed bottom-2 right-2 w-fit m-auto">
        <a href="#odovzdavanie">
	        <button type="button" class="md:hidden inline-flex bg-blue-800 text-white rounded p-2"><iconify-icon icon="mdi:arrow-down" width="none" class="w-6 h-6"></iconify-icon>Prejsť na odovzdávanie</button>
        </a>
	  </div>
{% endblock %}
