{% extends "base.html" %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4">Aktuálne úlohy</h1>

    <div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
        <div class="sm:col-span-3">
            <h2 class="text-lg font-bold">1. kolo, 125. časť, 85. ročník KMS</h2>
            <table class="w-full mb-4 text-sm">
                <thead>
                <tr class="border-b border-gray-400">
                    <th class="p-2 whitespace-nowrap text-left">#</th>
                    <th class="p-2 text-left w-full">Názov</th>
                    <th class="p-2 whitespace-nowrap text-left">Body</th>
                </tr>
                </thead>
                <tbody class="divide-y">
                <tr class="bg-gray-50 text-gray-500">
                    <td class="p-2 whitespace-nowrap">1.</td>
                    <td class="p-2">
                        <a href="#" class="link">Krásny marhuľový sorbet</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">0 / 20</td>
                </tr>
                <tr>
                    <td class="p-2 whitespace-nowrap">2.</td>
                    <td class="p-2">
                        <a href="#" class="link">Konečne milý svet</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">0 / 20</td>
                </tr>
                <tr>
                    <td class="p-2 whitespace-nowrap">3.</td>
                    <td class="p-2">
                        <a href="#" class="link">Konečne milý svet</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">0 / 20</td>
                </tr>
                <tr>
                    <td class="p-2 whitespace-nowrap">4.</td>
                    <td class="p-2">
                        <a href="#" class="link">Konečne milý svet</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">0 / 20</td>
                </tr>
                <tr>
                    <td class="p-2 whitespace-nowrap">5.</td>
                    <td class="p-2">
                        <a href="#" class="link">Konečne milý svet</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">0 / 20</td>
                </tr>
                <tr>
                    <td class="p-2 whitespace-nowrap">6.</td>
                    <td class="p-2">
                        <a href="#" class="link">Konečne milý svet</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">0 / 20</td>
                </tr>
                <tr>
                    <td class="p-2 whitespace-nowrap">7.</td>
                    <td class="p-2">
                        <a href="#" class="link">Konečne milý svet</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">0 / 20</td>
                </tr>
                <tr class="bg-green-50 text-green-600">
                    <td class="p-2 whitespace-nowrap">8.</td>
                    <td class="p-2">
                        <a href="#" class="link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error,
                            quod.</a>
                    </td>
                    <td class="p-2 whitespace-nowrap">? / 20</td>
                </tr>
                </tbody>
            </table>

            <div class="flex sm:items-center flex-col sm:flex-row flex-wrap gap-y-2 gap-x-4">
                <div class="flex items-center gap-1 text-xs">
                    <div class="w-4 h-4 border rounded"></div>
                    Za túto úlohu získavaš body
                </div>
                <div class="flex items-center gap-1 text-xs">
                    <div class="w-4 h-4 bg-gray-200 rounded"></div>
                    Za túto úlohu nezískavaš body
                </div>
                <div class="flex items-center gap-1 text-xs">
                    <div class="w-4 h-4 bg-green-500 rounded"></div>
                    Túto úlohu si už vyriešil
                </div>
            </div>
        </div>
        <div class="">
            <h2 class="text-lg font-bold">Termíny</h2>

            <p>Niečo niečo: 24. december 2024 <span class="text-red-600">(o 4 dni)</span></p>
            <p>Niečo niečo: 24. december 2024</p>
        </div>
    </div>
{% endblock %}