{% extends "base.html" %}
{% load tz %}
{% load custom_tags %}
{% block body %}
	<h1 class="text-3xl font-bold mb-4">Aktuálne úlohy</h1>

	<div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
		<div class="sm:col-span-3">
			<h2 class="text-lg font-bold">{{ problem_set.name }}</h2>
			<table class="w-full mb-4 text-sm">
				<thead>
				<tr class="border-b border-gray-400">
					<th class="p-2 whitespace-nowrap text-left">#</th>
					<th class="p-2 text-left w-full">Názov</th>
					<th class="p-2 whitespace-nowrap text-left">Body</th>
				</tr>
				</thead>
				<tbody class="divide-y">
				{% for problem in problems %}
					<tr {% if problem.category == 0 %}class="bg-gray-100 text-gray-500"
					    {% elif submits|dict_key:problem.id is not None %}class="bg-green-100 text-green-600"{% endif %}>
						<td class="p-2 whitespace-nowrap">{{ forloop.counter }}</td>
						<td class="p-2">
							<a href="{% url "detail" problem.id %}" class="link">{{ problem.name }}</a>
						</td>
						{% with id=problem.id %}
							<td class="p-2 whitespace-nowrap">{{ submits|dict_key:problem.id|default_if_none:0|floatformat:"g" }}
								/ {{ problem.max_score|floatformat:"g" }}</td>
						{% endwith %}
					</tr>
				{% endfor %}
			</table>

			<div class="flex sm:items-center flex-col sm:flex-row flex-wrap gap-y-2 gap-x-4">
				<div class="flex items-center gap-1 text-xs">
					<div class="w-4 h-4 border rounded"></div>
					Za túto úlohu získavaš body
				</div>
				<div class="flex items-center gap-1 text-xs">
					<div class="w-4 h-4 bg-gray-200 rounded"></div>
					Za túto úlohu nezískavaš body
				</div>
				<div class="flex items-center gap-1 text-xs">
					<div class="w-4 h-4 bg-green-500 rounded"></div>
					Túto úlohu si už vyriešil
				</div>
			</div>
		</div>
		<div class="">
			<h2 class="text-lg font-bold">Termíny</h2>

			<p>Koniec kola: {{ problem_set.deadline }} <span
					class="text-red-600">({{ problem_set.deadline|timeuntil }})</span></p>
		</div>
	</div>
{% endblock %}
