<!doctype html>
{% load version %}
{% load static %}
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'app.min.css' %}?v={% version %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.min.css" integrity="sha384-Htz9HMhiwV8GuQ28Xr9pEs1B4qJiYu/nYLLwlDklR53QibDfmQzi7rYxXhMH/5/u" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.min.js" integrity="sha384-bxmi2jLGCvnsEqMuYLKE/KsVCxV3PqmKeK6Y6+lmNXBry6+luFkEOsmp5vD9I/7+" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>

  <script defer data-domain="{{ request.get_host|cut:"www." }}" event-user-authenticated="{{ request.user.is_authenticated|lower }}" event-user-staff="{{ request.user.is_staff|lower }}" src="https://analytics.trojsten.sk/js/script.pageview-props.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError : false
      });
    });
  </script>

  <script src="{% static 'app.min.js' %}" defer></script>

  {# TODO: Read title from site #}
  <title>{% block title %}| {{ contest.name }}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body class="{% block root_body_class %}{{ contest.theme_name }}{% endblock %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% block root_body %}{% endblock %}
</body>
</html>
