{% extends "base.html" %}

{% block body %}
    <div class="mb-4">
        <h1 class="font-bold text-3xl mb-4">Pravidlá KMS</h1>
        <p>Súťaž sa skladá z dvoch nezávislých častí — zimnej a letnej. Každá z nich prebieha v rámci školského polroka.
            Na
            konci každej časti budú najúspešnejší riešitelia pozvaní na záverečné sústredenie. Každá časť pozostáva z
            troch
            kôl úloh. Zadania jednotlivých kôl nájdeš na <a href="{% url 'main' %}" class="link">tejto stránke</a> vždy
            aspoň mesiac pred termínom
            odovzdania daného kola. Úlohy 1 až 8 budú obodované počtom bodov od 0 po 9, úlohy 9 a 10 počtom bodov od 0
            po
            10. Okrem toho v niektorých špeciálnych prípadoch (popísané nižšie) môžu byť úlohy obodované aj od 0 po 6
            bodov,
            resp. od 0 po 3 body.</p>
        <br>
        <p><strong>Body sa udeľujú aj za čiastkové či neúplné riešenia.</strong> Za každé kolo sa riešiteľovi do poradia
            započíta 5 úloh s najväčším bodovým ziskom.</p>
    </div>

    <div class="mb-4">
        <h2 class="font-bold text-2xl mb-4">Ktoré úlohy mám riešiť?</h2>
        <p>Na to, aby si vedel, ktoré úlohy môžeš riešiť, potrebuješ poznať svoj koeficient κ. Tento koeficient si môžeš
            vypočítať ako κ=min(k,1)+c+u, kde</p>
        <ul>
            <li>číslo k je počet tvojich úspešných účastí na krajskom kole Matematickej olympiády kategórie A, B alebo C
                pred začiatkom aktuálneho školského roka (keďže vo výpočte κ sa berie menšia z hodnôt k a 1, po tvojej
                prvej
                úspešnej účasti už žiadna ďalšia koeficient nezvýši),
            </li>
            <li>číslo c je počet tvojich úspešných účastí na celoštátnom kole Matematickej olympiády pred začiatkom
                aktuálneho školského roka a
            </li>
            <li>číslo u je počet tvojich úspešných semestrov (semester považuj za úspešný, ak sa ti počas neho podarilo
                získať v niektorej kategórii aspoň 90 bodov alebo si sa zúčastnil/-a sústredenia).
            </li>
        </ul>
    </div>

    <div class="mb-4">
        <h2 class="font-bold text-2xl mb-4">Kategória ALFA</h2>
        <p>Pre riešiteľov kategórie ALFA sú určené úlohy 1 až 8. Úlohy číslo 1 a 2 môžu za plný počet bodov riešiť len
            študenti s κ ≤ 0 a úlohu číslo 3 len študenti s κ ≤ 1. Ostatné úlohy (4 až 8) môžu riešiť všetci riešitelia
            kategórie ALFA.</p>
    </div>

    <div class="mb-4">
        <h2 class="font-bold text-2xl mb-4">Kategória BETA</h2>
        <p>Pre riešiteľov kategórie BETA sú určené úlohy 3 až 10. Za úlohy 3 a 4 nie je v kategórii BETA možné získať
            plný počet bodov, dajú za riešiť za maximálne 3, resp. 6 bodov (popísané nižšie). Úlohu číslo 5 môžu za plný
            počet bodov riešiť len študenti s κ≤6. Ostatné úlohy (6 až 10) môžu riešiť všetci riešitelia kategórie
            BETA.</p>
        <br>
        <p>Pre prehľadnosť uvedieme koeficientové hranice aj v tabuľke.</p>
        <table class="table-auto w-full border border-collapse">
            <thead>
            <tr>
                <th>Číslo úlohy</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">κ ≤</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>6</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}