@import 'tippy.js/dist/tippy.css' layer(base);

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@config './tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-primary: #1077C1;
  --color-primary-dark: color-mix(in oklab, var(--color-primary), #000 8%);
  --color-primary-light: color-mix(in oklab, var(--color-primary), #fff 8%);
  --color-primary-text: var(--color-white);

  --font-sans: "Source Sans 3", sans-serif;
}

.theme-ksp,
.theme-prask {
  --color-primary-dark: oklch(52.09% 0.1084 117.77);
  --color-primary: oklch(62.09% 0.1084 117.77);
  --color-primary-light: oklch(72.09% 0.1084 117.77);
  --color-primary-text: white;
}

.theme-kms {
  --color--primary-dark: oklch(45.13% 0.2369 300.61);
  --color-primary: oklch(55.13% 0.2369 300.61);
  --color-primary-light: oklch(65.13% 0.2369 300.61);
  --color-primary-text: white;
}

.theme-fks,
.theme-fx {
  --color-primary-dark: oklch(65.17% 0.1373 72.58);
  --color-primary: oklch(75.17% 0.1373 72.58);
  --color-primary-light: oklch(85.17% 0.1373 72.58);
  --color-primary-text: white;
}

.theme-susi {
  --color-primary-dark: oklch(47.01% 0.1828 26.74);
  --color-primary: oklch(57.01% 0.1828 26.74);
  --color-primary-light: oklch(67.01% 0.1828 26.74);
  --color-primary-text: white;
}

.btn {
  @apply inline-flex items-center rounded-md px-3 py-2 text-sm font-semibold shadow-xs;
}

.btn-default {
  @apply bg-white text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
}

.btn-primary {
  @apply bg-primary text-primary-text hover:bg-primary-dark;
}

.btn-blue {
  @apply bg-blue-600 text-white hover:bg-blue-700;
}

.btn-green {
  @apply bg-green-600 text-white hover:bg-green-700;
}

.btn-red {
  @apply bg-red-600 text-white hover:bg-red-700;
}

.btn-amber {
  @apply bg-amber-600 text-white hover:bg-amber-700;
}

.text-muted {
  @apply text-gray-600;
}

.text-red {
  @apply text-red-600;
}

.text-amber {
  @apply text-amber-600;
}

.text-shadow {
  text-shadow: 0 0 4px #000;
}

.input {
  @apply w-full rounded-sm px-3 py-2 text-sm border border-gray-300 inline-flex;
}

.checkbox {
  @apply rounded-sm;
}

.input:disabled {
  @apply cursor-not-allowed bg-gray-100;
}

.link {
  @apply text-blue-600 hover:text-blue-900 underline;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.simple-table {
  @apply min-w-full divide-y divide-gray-300;
}

.simple-table th {
  @apply whitespace-nowrap pt-0 p-3 text-left text-sm font-semibold text-gray-900;
}

.simple-table tbody {
  @apply divide-y divide-gray-200;
}

.simple-table tr {
  @apply text-sm text-gray-700;
}

.simple-table td {
  @apply whitespace-nowrap p-3;
}

.simple-tabs-container {
  @apply flex flex-col w-full h-full;
}

.simple-tabs-tabs {
  @apply grid grid-cols-2 border-b divide-x;
}

.simple-tabs-tab {
  @apply p-2;
}

.simple-tabs-tab:hover {
  @apply bg-gray-50;
}

.simple-tabs-tab.active {
  @apply bg-gray-100;
}

.simple-tabs-content {
  @apply w-full h-full;
}

.codehilite {
  @apply rounded-xl
}

/** I/O table in problem statements **/
.io {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4 my-5;
}

.io h3 {
  @apply mt-0;
}

.io p {
  @apply mt-0;
}

.io p:has(code) {
  @apply bg-gray-100 p-2 rounded-sm;
}

.io pre {
  @apply m-0;
}

.katex {
  font-size: 1.05rem !important;
}

.katex-display {
  overflow: auto hidden;
}
