@import 'tippy.js/dist/tippy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-math {
    --primary-dark: oklch(51.72% 0.1589 269.14);
    --primary: oklch(61.72% 0.1589 269.14);
    --primary-light: oklch(71.72% 0.1589 269.14);
    --primary-text: white;
}

.btn {
  @apply inline-flex items-center rounded-md px-3 py-2 text-sm font-semibold shadow-sm;
}

.btn-default {
  @apply bg-white text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
}

.btn-primary {
  @apply bg-primary text-primary-text hover:bg-primary-dark;
}

.btn-blue {
  @apply bg-blue-600 text-white hover:bg-blue-700;
}

.btn-green {
  @apply bg-green-600 text-white hover:bg-green-700;
}

.btn-red {
  @apply bg-red-600 text-white hover:bg-red-700;
}

.btn-amber {
  @apply bg-amber-600 text-white hover:bg-amber-700;
}

.input {
    @apply w-full rounded px-3 py-2 text-sm border border-gray-300 inline-flex;
}

.checkbox {
    @apply rounded;
}

.input:disabled {
    @apply cursor-not-allowed bg-gray-100;
}

.link {
    @apply text-blue-600 hover:text-blue-900 underline;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.simple-table {
  @apply min-w-full divide-y divide-gray-300;
}

.simple-table th {
  @apply whitespace-nowrap pt-0 p-3 text-left text-sm font-semibold text-gray-900;
}

.simple-table td:first-child, .simple-table th:first-child {
  @apply md:pl-0;
}

.simple-table td:last-child, .simple-table th:last-child {
  @apply md:pr-0;
}

.simple-table tbody {
  @apply divide-y divide-gray-200;
}

.simple-table td {
  @apply whitespace-nowrap p-3 text-sm text-gray-700;
}
