@import 'tippy.js/dist/tippy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-ksp,
.theme-prask {
  --primary-dark: oklch(52.09% 0.1084 117.77);
  --primary: oklch(62.09% 0.1084 117.77);
  --primary-light: oklch(72.09% 0.1084 117.77);
  --primary-text: white;
}

.theme-kms {
  --primary-dark: oklch(45.13% 0.2369 300.61);
  --primary: oklch(55.13% 0.2369 300.61);
  --primary-light: oklch(65.13% 0.2369 300.61);
  --primary-text: white;
}

.theme-fks,
.theme-fx {
  --primary-dark: oklch(65.17% 0.1373 72.58);
  --primary: oklch(75.17% 0.1373 72.58);
  --primary-light: oklch(85.17% 0.1373 72.58);
  --primary-text: white;
}

.theme-susi {
  --primary-dark: oklch(47.01% 0.1828 26.74);
  --primary: oklch(57.01% 0.1828 26.74);
  --primary-light: oklch(67.01% 0.1828 26.74);
  --primary-text: white;
}


.btn {
  @apply inline-flex items-center rounded-md px-3 py-2 text-sm font-semibold shadow-sm;
}

.btn-default {
  @apply bg-white text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
}

.btn-primary {
  @apply bg-primary text-primary-text hover:bg-primary-dark;
}

.btn-blue {
  @apply bg-blue-600 text-white hover:bg-blue-700;
}

.btn-green {
  @apply bg-green-600 text-white hover:bg-green-700;
}

.btn-red {
  @apply bg-red-600 text-white hover:bg-red-700;
}

.btn-amber {
  @apply bg-amber-600 text-white hover:bg-amber-700;
}

.text-shadow {
  text-shadow: 0 0 4px #000;
}

.input {
  @apply w-full rounded px-3 py-2 text-sm border border-gray-300 inline-flex;
}

.checkbox {
  @apply rounded;
}

.input:disabled {
  @apply cursor-not-allowed bg-gray-100;
}

.link {
  @apply text-blue-600 hover:text-blue-900 underline;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.simple-table {
  @apply min-w-full divide-y divide-gray-300;
}

.simple-table th {
  @apply whitespace-nowrap pt-0 p-3 text-left text-sm font-semibold text-gray-900;
}

.simple-table tbody {
  @apply divide-y divide-gray-200;
}

.simple-table tr {
  @apply text-sm text-gray-700;
}

.simple-table td {
  @apply whitespace-nowrap p-3;
}

.simple-tabs-container {
  @apply flex flex-col w-full h-full;
}

.simple-tabs-tabs {
  @apply grid grid-cols-2 border-b divide-x;
}

.simple-tabs-tab {
  @apply p-2;
}

.simple-tabs-tab:hover {
  @apply bg-gray-50;
}

.simple-tabs-tab.active {
  @apply bg-gray-100;
}

.simple-tabs-content {
  @apply w-full h-full;
}

.codehilite {
  @apply rounded-xl
}

/** I/O table in problem statements **/
.io {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4 my-5;
}

.io h3 {
  @apply mt-0;
}

.io p {
  @apply mt-0;
}

.io p:has(code) {
  @apply bg-gray-100 p-2 rounded;
}

.io pre {
  @apply m-0;
}

.katex {
  font-size: 1.05rem !important;
}
