@use "utils";

:root {
  font-family: "Source Sans Pro", sans-serif;

  --container-size: 1200px;
}

.container {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
  padding: 1rem;

  &--small {
    @extend .container;
    max-width: 80ch;
  }
}

.flex {
  display: flex;

  &--items-center {
    align-items: center;
  }

  &--col {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--m-col {
    @include utils.small {
      flex-direction: column;
    }
  }
}

.hidden {
  display: none;
}

.m-w-full {
  @include utils.small {
    width: 100% !important;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0.75rem 0;
}

body {
  color: var(--black);
}
