.navbar {
    background: var(--primary);

    & .navbar__container {
        display: flex;
        color: var(--primary-text);
        width: 100%;
        max-width: var(--container-size);
        padding: 1rem 1.5rem;
        margin: 0 auto;
    }

    & a {
        color: var(--primary-text);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & .navbar__brand {
        display: flex;
        align-items: center;
        gap: .75rem;
        font-weight: bold;
    }
    
    @media (max-width: 768px) {
        & .navbar__brand_name {
            display: none;
        }
    }
}
