<div class="shrink-0 w-full md:w-80 bg-white z-10 hidden md:block border-b md:border-b-0 absolute md:relative md:border-r shadow-lg md:shadow-none"
     data-toggle-target="toggle">
    <div class="py-3 px-4 font-bold border-b text-lg flex items-center justify-between md:hidden">
        {# TODO: Hardcoded? #}
        <span>1. kolo, 3. časť, 12. ročník KMS</span>

        <div class="cursor-pointer flex p-3 -m-3 rounded-full hover:bg-gray-100 items-center justify-center"
             data-action="click->toggle#click">
            <iconify-icon icon="mdi:close"></iconify-icon>
        </div>
    </div>

    <div class="divide-y">
    {% for side_problem in sidebar_problems %}
      {% include "problems/_item.html" with problem=side_problem active_problem=problem %}
    {% endfor %}
    </div>
</div>
