<div class="shrink-0 w-full lg:w-64 xl:w-80 bg-white z-10 hidden lg:block border-b lg:border-b-0 absolute lg:relative lg:border-r shadow-lg lg:shadow-none"
     data-toggle-target="toggle">
    <div class="py-3 px-4 font-bold border-b text-lg flex items-center justify-between lg:hidden">
        <span>{{ problem_set }}</span>

        <div class="cursor-pointer flex p-3 -m-3 rounded-full hover:bg-gray-100 items-center justify-center"
             data-action="click->toggle#click">
            <iconify-icon icon="mdi:close"></iconify-icon>
        </div>
    </div>

    <div class="divide-y">
    {% for side_problem in sidebar_problems %}
      {% include "problems/_item.html" with problem=side_problem active_problem=problem %}
    {% endfor %}
    </div>
</div>
