{% load ui %}

{% if not user.is_authenticated %}
  <div class="flex items-center text-red-600 bg-red-100 rounded-md py-2 px-3 mb-4 text-sm">
    <iconify-icon icon="mdi:warning" width="none" class="shrink-0 mr-3 size-4"></iconify-icon>
    <span>
      Pre odovzdávanie sa musíš <a href="{% url "oidc_authentication_init" %}?next={{ request.path_info|urlencode }}" class="underline hover:text-red-700">prihlásiť</a>.
    </span>
  </div>
{% elif not user.current_grade or not user.current_school %}
  {# TODO: remove that login / logout step when no longer needed #}
  {% message 'Nemáš nastavenú školu a ročník. Nastav si ich prosím v <a class="link" href="https://id.trojsten.sk/accounts/school/">Trojsten ID</a> a potom sa odhlás a znovu prihlás.' "warning" %}
{% else %}
  {% if not problem.problem_set.is_running %}
    {% message 'Kolo už skončilo. Stále môžeš odovzdávať, ale výsledky sa ti už nebudú započítavať do výsledkovej listiny.' "info" %}
  {% elif enrollment_warning %}
    {% message 'Tvoja aktuálna škola alebo ročník sa zmenil. Ak sú údaje vo výsledkovej listine neaktuálne, napíš na <a class="link" href="mailto:info@trojsten.sk?subject=Neaktuálne údaje vo výsledkovej listine">info@trojsten.sk</a>.' "warning" %}
  {% endif %}
  <div data-submit--cta-target="submitForm" id="submit">
    {% for id, data in submits.items %}
      <div data-controller="submit--{{ id }}-submit">
        <div class="font-bold text-2xl mb-1 flex justify-between">
          <span>Odovzdať {{ data.name }}</span>
          <div class="flex items-center">{% label data.points %}</div>
        </div>

        {% if data.can_submit %}
          {% if id != "text" %}
            <div class="bg-gray-100 rounded-md text-gray-700 text-center p-4 cursor-pointer hover:bg-gray-200" data-action="click->submit--{{ id }}-submit#openFilePicker">
              <iconify-icon icon="mdi:upload" width="none" class="size-8"></iconify-icon>
              <p data-submit--{{ id }}-submit-target="fileText">Vyber alebo presuň tvoj {{ data.name }} sem</p>
            </div>
          {% endif %}

          <div class="hidden items-center text-amber-600 bg-amber-100 rounded-md py-2 px-3 my-4 text-sm" data-submit--{{ id }}-submit-target="errorContainer">
            <iconify-icon icon="mdi:warning" width="none" class="shrink-0 mr-3 size-4"></iconify-icon>
            <span data-submit--{{ id }}-submit-target="errorMessage"></span>
          </div>

          <form method="POST" enctype="multipart/form-data" action="{{ data.action }}" id="form" class="{% if id != "text" %}hidden{% else %}flex flex-row gap-2{% endif %} mt-2" data-submit--{{ id }}-submit-target="form">
            {% csrf_token %}
            {% if id == "file" %}
              <input type="file" name="files" multiple accept="image/jpeg, image/png, application/pdf" class="hidden" data-submit--file-submit-target="fileInput" data-action="change->submit--file-submit#onInputChange">
              <button class="btn btn-blue mt-2">Odovzdať</button>
            {% elif id == "judge" %}
              <input type="file" name="program" class="hidden" data-submit--judge-submit-target="fileInput" data-action="change->submit--judge-submit#onInputChange">
              <button class="btn btn-blue mt-2">Odovzdať</button>
            {% else %}
              <input type="text" name="text" class="input">
              <button class="btn btn-blue" title="Odovzdať"><iconify-icon icon="mdi:send" width="none" class="size-5"></iconify-icon></button>
            {% endif %}
          </form>
        {% else %}
          {% message data.name|title|stringformat:"s momentálne nemôžeš odovzdať" "warning" %}
        {% endif %}

        {% include "problems/_submits.html" with submits=data %}
      </div>
    {% endfor %}
  </div>
{% endif %}
