{% extends "base.html" %}
{% load markdownify %}
{% load ui %}

{% block title %}{{ problem.name }} {{ block.super }}{% endblock %}

{% block body_container %}
<div class="border-b px-4 py-3">
  {% url "problem_set_list" as set_list_url %}
  {% url "problem_set_detail" problem.problem_set.id as set_url %}
  {% breadcrumbs "Zadania" set_list_url problem.problem_set set_url problem %}
</div>

<div data-controller="submit--cta">
  <div class="flex flex-col lg:flex-row" data-controller="toggle" data-toggle-toggle-class="hidden">
    {% include "problems/_sidebar.html" with problem_set=problem.problem_set %}

    <div class="flex-1 p-4 lg:py-8">
      <div class="mx-auto max-w-prose">
        <a href="#" class="mb-2 flex justify-end items-center text-blue-700 hover:text-blue-900 lg:hidden"
            data-action="click->toggle#click">
          Zoznam úloh
          <iconify-icon icon="mdi:chevron-down" class="ml-1"></iconify-icon>
        </a>

        {% if texts.PS.is_visible %}
        <div class="prose">
          {{ texts.PS.text|markdownify }}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="shrink-0 w-full p-4 md:border-l md:w-80">
      {% if not user.is_authenticated %}
        <div class="flex items-center text-red-600 bg-red-100 rounded-md py-2 px-3 mb-4 text-sm">
          <iconify-icon icon="mdi:warning" width="none" class="shrink-0 mr-3 size-4"></iconify-icon>
          <span>
            Pre odovzdávanie sa musíš <a href="{% url "oidc_authentication_init" %}?next={{ request.path_info|urlencode }}" class="underline hover:text-red-700">prihlásiť</a>.
          </span>
        </div>
      {% else %}
        {# TODO: actual logic #}
        {% if problem.number == 1 %}
          <div class="flex items-center text-amber-600 bg-amber-100 rounded-md py-2 px-3 mb-4 text-sm">
            <iconify-icon icon="mdi:warning" width="none" class="shrink-0 mr-3 size-4"></iconify-icon>
            Za túto úlohu nedostávaš v svojej kategórií body.
          </div>
        {% endif %}
        <div data-submit--cta-target="submitForm" id="submit">

          {% if problem.file_points > 0 %}
            <div data-controller="submit--file-submit">
              <div class="font-bold text-2xl mb-1 flex justify-between">
                <span>Odovzdať popis</span>
                {# TODO: actual max points and maybe also current points #}
                <div class="flex items-center">{% label problem.file_points %}</div>
              </div>

              <div class="bg-gray-100 rounded-md text-gray-700 text-center p-4 cursor-pointer hover:bg-gray-200" data-action="click->submit--file-submit#openFilePicker">
                <iconify-icon icon="mdi:upload" width="none" class="size-8"></iconify-icon>
                <p>Vyber alebo presuň tvoje riešenie sem</p>
              </div>

              <form method="POST" enctype="multipart/form-data" action="{% url "file_submit" problem.id %}" id="form" class="hidden mt-2" data-submit--file-submit-target="form">
                {% csrf_token %}
                <input type="file" name="files" multiple accept="image/jpeg, image/png" class="hidden" data-submit--file-submit-target="fileInput" data-action="change->submit--file-submit#onInputChange">
                <button class="btn btn-blue mt-2">Odovzdať</button>
              </form>

              {% include "problems/_submits.html" with submits=submits.file icon="mdi:file-text" %}
            </div>
          {% endif %}
          {% if problem.judge_points > 0 %}
            <div data-controller="submit--judge-submit">
              <div class="font-bold text-2xl mb-1 flex justify-between">
                <span>Odovzdať program</span>
                {# TODO: actual max points and maybe also current points #}
                <div class="flex items-center">{% label problem.judge_points %}</div>
              </div>

              <div class="bg-gray-100 rounded-md text-gray-700 text-center p-4 cursor-pointer hover:bg-gray-200" data-action="click->submit--judge-submit#openFilePicker">
                <iconify-icon icon="mdi:upload" width="none" class="size-8"></iconify-icon>
                <p data-submit--judge-submit-target="fileText">Vyber alebo presuň tvoj program sem</p>
              </div>

              <form method="POST" enctype="multipart/form-data" action="{% url "judge_submit" problem.id %}" id="form" class="hidden mt-2" data-submit--judge-submit-target="form">
                {% csrf_token %}
                <input type="file" name="program" class="hidden" data-submit--judge-submit-target="fileInput" data-action="change->submit--judge-submit#onInputChange">
                <button class="btn btn-blue mt-2">Odovzdať</button>
              </form>

              {% include "problems/_submits.html" with submits=submits.judge icon="mdi:file-code" %}
            </div>
          {% endif %}
          {% if problem.text_points > 0 %}
            <div>
              <div class="font-bold text-2xl mb-1 flex justify-between">
                <span>Odovzdať odpoveď</span>
                {# TODO: actual max points and maybe also current points #}
                <div class="flex items-center">{% label problem.text_points %}</div>
              </div>

              <form method="POST" enctype="multipart/form-data" action="{% url "text_submit" problem.id %}" id="form" class="mt-2 flex gap-2">
                {% csrf_token %}
                <input type="text" name="text" class="input">
                <button class="btn btn-blue" title="Odovzdať"><iconify-icon icon="mdi:send" width="none" class="size-5"></iconify-icon></button>
              </form>

              {% include "problems/_submits.html" with submits=submits.text icon="mdi:format-text" %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="fixed inset-x bottom-0 z-30 w-full p-4 flex items-center md:hidden" data-submit--cta-target="cta">
    <button type="button" data-action="submit--cta#scroll" class="flex items-center gap-2 px-4 py-2 rounded-full bg-gray-800 text-white mx-auto w-auto shadow-lg" id="scroll">
      Odovzdávanie
      <iconify-icon icon="mdi:arrow-down"></iconify-icon>
    </button>
  </div>
</div>
{% endblock %}
