{% load widget_tweaks %}

<div class="{% if field.field.widget.template_name == "django/forms/widgets/textarea.html" %}col-span-2{% endif %}">
{% if field.field.widget.input_type == "checkbox" %}
    <label class="flex items-baseline gap-1.5">
      <div>
        {{ field|add_class:"checkbox" }}
      </div>
      <div>
        <p>
          <span class="text-sm font-medium text-gray-900">{{ field.label }}</span>
          {% if field.field.required %}<span class="text-red-600">*</span>{% endif %}
        </p>
        {% if field.help_text %}
          <p class="mt-1.5 text-sm text-gray-600">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    </label>
{% else %}
    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-900">
        {{ field.label }}
        {% if field.field.required %}<span class="text-red-600">*</span>{% endif %}
    </label>

    {% if not field.errors %}
        {% render_field field class="input mt-2" %}
    {% else %}
        {% render_field field class="input mt-2 border-red-600 placeholder-red-600" %}
    {% endif %}

    {% if field.errors %}
        <p class="mt-2 text-sm text-red-600">{{ field.errors|first }}</p>
    {% endif %}
    {% if field.help_text %}
        <p class="mt-2 text-sm text-gray-600">{{ field.help_text|safe }}</p>
    {% endif %}
{% endif %}
</div>
