{% extends "base.html" %}
{% block body %}
    {% for problem_set_detail in problem_set_details %}
        {% include "base_problem_set_detail.html" with problem_set=problem_set_detail.problem_set submits=problem_set_detail.submits progress=problem_set_detail.progress %}
    {% endfor %}

    {% if problem_sets %}
        <hr class="mt-4">
        <div class="mt-4">
            <h2 class="text-2xl font-bold">Archív zadaní</h2>

            {% for problem_set in problem_sets %}
                <div class="my-2">
                    <a class="link" href="{% url "problem_set_detail" problem_set.id %}">{{ problem_set.name }}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
