@use "../utils";

.sidenav {
  display: flex;

  &__nav {
    flex-shrink: 0;
    width: 100%;
    display: none;
    z-index: 10;
    background: white;
    border-right: 1px solid var(--gray-200);

    @include utils.large {
      width: 20rem;
      display: block;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__right {
    flex: 1;
    padding: 1rem;
    border-left: 1px solid var(--gray-200);

    @include utils.large {
      width: 20rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 1.125rem;

    border-bottom: 1px solid var(--gray-200);
  }

  &__close {
    cursor: pointer;
    display: flex;
    border-radius: 100%;
    padding: 0.5rem;
    margin: -0.5rem;

    &:hover {
      background: var(--gray-100);
    }

    @include utils.large {
      display: none;
    }
  }

  &__item {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--black);

    &:hover {
      background: var(--gray-100);
    }
  }

  @include utils.small {
    flex-direction: column;
    &--open {
      display: block;
    }
    &--open &__nav {
      position: absolute;
      display: block;
      border-bottom: 1px solid var(--gray-200);
    }
  }
}
