.submit-list {
  margin-bottom: 0.5rem;

  &__empty {
    color: var(--gray-500);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    text-decoration: none;
    color: var(--black);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;

    margin-bottom: 0.25rem;

    &:hover {
      background: var(--gray-100);
    }

    &--graded {
      background: var(--green-light);
      color: var(--green);

      &:hover {
        background: var(--green-light-darker);
      }

      & .submit-list__item_score {
        color: var(--green);
        font-weight: 600;
      }
    }
  }

  &__item_score {
    margin-left: auto;
    color: var(--gray-500);
  }
}
