{% load tables %}
<div class="overflow-x-auto mb-4">
  <table class="min-w-full divide-y divide-gray-300">
    {% if not hide_header %}
    <thead>
      <tr>
        {% for field in table.fields %}
        <th scope="col" class="whitespace-nowrap pt-0 p-3 text-left text-sm font-semibold text-gray-900 {% if forloop.first %}sm:pl-0{% endif %}">
          {% get_label table field %}
        </th>
        {% endfor %}
        <th scope="col" class="relative pt-0 p-3 sm:pr-0"></th>
      </tr>
    </thead>
    {% endif %}
    <tbody class="divide-y divide-gray-200">
      {% for object in objects %}
      <tr>
        {% for field in table.fields %}
        <td class="whitespace-nowrap p-3 text-sm text-gray-700 {% if forloop.first %}sm:pl-0{% endif %}">
          {% get_cell table field object extra_context %}
        </td>
        {% endfor %}

        <td class="whitespace-nowrap p-3 sm:pr-0 text-sm text-right w-full">
          <div class="flex gap-3 justify-end">
            {% get_links table object extra_context as links %}
            {% for link in links %}
            {% if link|length == 2 %}
            <a href="{{ link.1 }}" class="text-blue-600 hover:text-blue-700">{{ link.0 }}</a>
            {% elif link|length == 3 %}
            <a href="{{ link.2 }}" class="text-blue-600 hover:text-blue-700 inline-flex items-center">
              <iconify-icon icon="{{ link.0 }}" class="mr-1"></iconify-icon>
              {{ link.1 }}
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

