{# Renders a file submit content #}
<div data-controller="tabs" data-tabs-active-value="main" class="w-full overflow-y-auto min-h-full">
  {% if submit.comment_file %}
    <div class="simple-tabs-container">
      <div class="simple-tabs-tabs">
        <button data-tabs-target="button" data-tab="main" data-action="click->tabs#switch" 
              class="simple-tabs-tab">
          Odovzdaný súbor
        </button>
        <button data-tabs-target="button" data-tab="comment" data-action="click->tabs#switch" 
                class="simple-tabs-tab">
          Opravený súbor
        </button>
      </div>
      <div data-tabs-target="content" data-tab="comment" class="hidden simple-tabs-content">
        {% include "submits/content/_file.html" with is_displayable=submit.is_comment_displayable file=submit.comment_file %}
      </div>
      <div data-tabs-target="content" data-tab="main" class="hidden simple-tabs-content">
        {% include "submits/content/_file.html" with is_displayable=submit.is_displayable file=submit.file %}
      </div>
    </div>
  {% else %}
    {% include "submits/content/_file.html" with is_displayable=submit.is_displayable file=submit.file %}
  {% endif %}
</div>
