<div class="-m-2">
  {% for item in group_items %}
    {% if item.post %}
      <form method="post" action="{{ item.url }}">
        {% csrf_token %}
        <button type="submit" class="flex w-full items-center gap-x-2 p-2 text-gray-800 rounded hover:text-primary hover:bg-gray-50">
          {% if item.icon %}
            <iconify-icon icon="{{ item.icon }}" width="none" class="size-5"></iconify-icon>
          {% endif %}
          {{ item.title }}
        </button>
      </form>
    {% else %}
      <a href="{{ item.url }}"
        class="flex items-center gap-x-2 p-2 text-gray-800 rounded hover:text-primary hover:bg-gray-50">
        {% if item.icon %}
          <iconify-icon icon="{{ item.icon }}" width="none" class="size-5"></iconify-icon>
        {% endif %}
        {{ item.title }}
      </a>
    {% endif %}
  {% endfor %}
</div>
